<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>لوحة تحكم المدير</title>
  <style>
    .tab {
      float: left;
      border: 1px solid #e0e2e2;
      background-color: #fff;
      width: 25%;
      height: 67vh;
      text-align: right;
      direction: rtl;
      overflow-y: scroll
    }

    .tab button {
      display: block;
      background: inherit;
      color: #778899;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: 0;
      text-align: left;
      cursor: pointer;
      transition: .3s;
      font-size: 17px;
      border-bottom: 1px solid #f0f1f2
    }

    .tab button:hover {
      background-color: #ebeef175
    }

    .tab button:active {
      background-color: #ebeef1
    }

    .tab button:focus {
      background-color: #ebeef1
    }

    .tabcontent {
      background: #fff;
      float: left;
      padding: 0 12px;
      border: 1px solid #e0e2e2;
      width: 75%;
      border-left: none;
      text-align: right;
      direction: rtl;
      height: 67vh
    }

    #loader {
      transition: all .3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1s infinite ease-in-out;
      animation: sk-scaleout 1s infinite ease-in-out
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        opacity: 0
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }
    }

  </style>
  <link href="../assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/themify-icons.css">
</head>

<body class="app">
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <script type="text/javascript">
  window.addEventListener('load', () => {
  const loader = document.getElementById('loader');
  setTimeout(() => {
    loader.classList.add('fadeOut');
  }, 300);
});
</script>
  <div>
    <%- include('sidebar'); %>
    <div class="page-container">
      <div class="header navbar">
        <div class="header-container">
          <ul class="nav-left">
            <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
          </ul>
          <ul class="nav-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                <div class="peer mR-10"><img class="w-2r bdrs-50p" src="assets/static/images/pp.jpg" alt=""></div>
                <div
                  class="peer"><span class="fsz-sm c-grey-900">عبد المالك</span></div>
        </a>
        <ul class="dropdown-menu fsz-sm">
          <li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-power-off mR-10"></i> <span>تسجيل الخروج</span></a></li>
        </ul>
        </li>
        </ul>
      </div>
    </div>
    <main class="main-content bgc-grey-100">
      <div class="tab">
          <div>
              <span class="badge badge-primary" style="font-weight:bold; margin:10%;">تذاكر مفتوحة • <%= open %></span>
              <span class="badge badge-danger" style="font-weight:bold; margin:10%;">تذاكر مغلقة • <%= closed %></span>
          </div>
          <% tickets.forEach(function(ticket) { %>
              <button class="tablinks" onclick='loadTicket(<%= ticket.id %>, <%= ticket.status %>)'>
                  <% if(ticket.status == 0) { %>
                  <i style="font-size: 150%; float: right;" class="c-pink-500 ti-lock"></i>
                  <% } %>
                  <%= ticket.title %>
              </button>
          <% }) %>
      </div>
      <div class="tabcontent">
        <div class="msgs" style="height:57vh;overflow-y:scroll;padding:21px;margin-bottom:23px">

          <hr>
          <div class="no-tickets-message" style="font-size: 250%; display:none;">
            <p>لا يوجد اى تذاكر</p>
          </div>

          <div class="messages_container"></div>
        </div>

        <div class="input-group" style="width:100%;height:35px;background:#f1f1f1">
            <span class="input-group-addon" id="basic-addon2" style="background:#fff;border:none">
                <button class="send-btn btn btn-light" style="background:#5EC458; color:white" type="button" name="button">أرسل</button>
            </span>
          <input type="text" class="message-to-send form-control" placeholder="محتوي الرساله" aria-describedby="basic-addon2"
            style="border-color:#f1f1f1">
        </div>

        <button type="button" style="margin-top:14px" class="close-ticket btn btn-warning" data-toggle="tooltip"
        data-placement="left" title="اغلاق التذكرة"><i class="ti-lock"></i> اغلاق التذكرة</button>
        <button type="button" style="margin-top:14px" class="delete-ticket btn btn-danger" data-toggle="tooltip"
        data-placement="left" title="حذف التذكرة"><i class="ti-close"></i> حذف التذكرة</button>
  </div>
  </div>
  </main>
  </div>
  <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © Tazawaq 2018 engineered by <a href="#" target="_blank" title="Colorlib">Garash Software House</a>. All rights reserved.</span></footer>
  </div>
  <script type="text/javascript" src="../assets/js/vendor.js"></script>
  <script type="text/javascript" src="../assets/js/bundle.js"></script>
</body>
<script type="text/javascript" src="./assets/js/jquery-3.3.1.min.js"></script>
<% if(tickets.length) { %>
<script>

    var currTicketID = -1;
    $(".tablinks:first").trigger('click').focus();

    function AddMessage(sender_type, message)
    {
        var sender = (sender_type == 0) ? 'العميل' : 'انت' ;
        var bgCol = (sender_type == 1) ? '#F2F3F5' : 'transparent';
        var message_html = `<div class="msg" style="padding:20px; border-radius:13px; background-color:${bgCol}; border-bottom:1px solid #f1f1f1; margin-bottom:8px">
          <h4>
            ${sender}
          </h4>
          <p>${message}</p>
        </div>`;

        $(".messages_container").append(message_html);
        $(".msgs").scrollTop($(".msgs")[0].scrollHeight);
    }

    function SendMessage()
    {
        if(currTicketID == -1) return;
        var msg = $(".message-to-send").val();
        if(!msg) return;

        fetch(`/send-ticket-message?ticket_id=${currTicketID}&message=${msg}`, {headers: {'Cache-Control': 'no-cache'}}).
        then((res) => res.json()).then((resJson) => {
            if(resJson.response == 1) {
                // alert("تم الرد بنجاح");
                AddMessage(1, msg);
                $(".message-to-send").val('');
            }
            else alert('فشل فى الارسال');
        });
    }

    $('.message-to-send').keypress(function(event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if(keycode == '13'){
        	SendMessage();
        }
        event.stopPropagation();
    });

    $(".send-btn").click(function(event) {
        SendMessage();
    });

    $(".close-ticket").click(function(event) {
        if(currTicketID == -1) return;
        fetch(`/close-ticket?id=${currTicketID}`, {headers: {'Cache-Control': 'no-cache'}}).
        then((res) => res.json()).then((resJson) => {

            if(resJson.response == 1)
            {
                $(".input-group, .close-ticket").hide();
                window.location = '/tickets';
            }
        });
    });

    $(".delete-ticket").click(function(event) {
        if(currTicketID == -1) return;
        fetch(`/delete-ticket?id=${currTicketID}`, {headers: {'Cache-Control': 'no-cache'}}).
        then((res) => res.json()).then((resJson) => {

            if(resJson.response == 1)
            {
                $(".input-group, .delete-ticket, .close-ticket").hide();
                window.location = '/tickets';
            }
        });
    });

    function loadTicket(ticket_id, status)
    {
        currTicketID = ticket_id;

        if(status) $(".input-group, .close-ticket").show();
        else $(".input-group, .close-ticket").hide();

        fetch(`/fetch-ticket-messages?id=${ticket_id}`, {headers: {'Cache-Control': 'no-cache'}}).
        then((res) => res.json()).then((resJson) => {
            $(".messages_container").empty();

            resJson.messages.forEach(function(message) {
                AddMessage(message.sender_type, message.message);
            });

            $(".msgs").scrollTop($(".msgs")[0].scrollHeight);
        });
    }
</script>
<% } else { %>
<script>
    $(".no-tickets-message").show();
    $(".input-group, .close-ticket").hide();
</script>
<% } %>

</html>
