<link href="./assets/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="./assets/css/themify-icons.css">
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>لوحة تحكم المدير</title>
  <style>
    input {
      text-align: right
    }

    #loader {
      transition: all .3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1s infinite ease-in-out;
      animation: sk-scaleout 1s infinite ease-in-out
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        opacity: 0
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px
    }

    .switch input {
      display: none
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      -webkit-transition: .4s;
      transition: .4s
    }

    input:checked+.slider {
      background-color: #2196f3
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196f3
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px)
    }

    .slider.round {
      border-radius: 34px
    }

    .slider.round:before {
      border-radius: 50%
    }

  </style>
  <link href="/style.css" rel="stylesheet">
</head>

<body class="app">
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <script type="text/javascript">
  window.addEventListener('load', () => {
  const loader = document.getElementById('loader');
  setTimeout(() => {
    loader.classList.add('fadeOut');
  }, 300);
});
</script>
  <div>
    <div class="sidebar">
      <div class="sidebar-inner">
        <div class="sidebar-logo">
          <div class="peers ai-c fxw-nw">
            <div class="peer peer-greed">
              <a class="sidebar-link td-n" href="/store_owner" class="td-n">
                <div class="peers ai-c fxw-nw">
                  <div class="peer">
                    <div class="logo"><img src="../assets/static/images/logo.png" alt=""></div>
                  </div>
                  <div class="peer peer-greed">
                    <h5 class="lh-1 mB-0 logo-text">حساب صاحب المحل التجاري</h5>
                  </div>
                </div>
              </a>
            </div>
            <div class="peer">
              <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
            </div>
          </div>
        </div>
        <ul class="sidebar-menu scrollable pos-r">
          <li class="nav-item mT-30 active"><a class="sidebar-link" href="/store/<%= store_id %>" default><span class="icon-holder"><i class="c-blue-500 ti-home"></i> </span><span class="title">لوحة التحكم</span></a></li>
          <li
            class="nav-item dropdown"><a class="dropdown-toggle" href="/store_orders/<%= store_id %>"><span class="icon-holder"><i class="c-teal-500 ti-map-alt"></i> </span><span class="title">الطلبات</span> <span class="arrow"><span class="badge" style="background:#ff0057;color:#fff;font-size:11px;border-radius:50%">28</span></span></a></li>
            <li
              class="nav-item"><a class="sidebar-link" href="/store_sales/<%= store_id %>"><span class="icon-holder"><i class="c-teal-500 ti-credit-card"></i> </span><span class="title">تقارير المبيعات</span></a></li>
                <li
                  class="nav-item dropdown"><a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-teal-500 ti-shopping-cart"></i> </span><span class="title">المنتجات</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                  <ul
                    class="dropdown-menu" style="display: block;">
                    <li><a class="sidebar-link" href="/store_products/<%= store_id %>"><span class="icon-holder"><i class="c-teal-500 ti-shopping-cart"></i> </span>جميع المنتجات</a></li>
                    <li><a class="sidebar-link" href="/store_offers/<%= store_id %>"><span class="icon-holder"><i class="c-teal-500 ti-gift"></i> </span>العروض</a></li>
        </ul>
        </li>
        <li class="nav-item"><a class="sidebar-link" href="/store_compose/<%= store_id %>"><span class="icon-holder"><i class="c-pink-500 ti-announcement"></i> </span><span class="title">ارسل تنويهات</span></a></li>
        <li
          class="nav-item dropdown"><a class="dropdown-toggle" href="/store_email/<%= store_id %>"><span class="icon-holder"><i class="c-teal-500 ti-headphone-alt"></i> </span><span class="title">تذاكر الدعم الفني</span> <span class="arrow"><span class="badge" style="background:#ff0057;color:#fff;font-size:11px;border-radius:50%">4</span></span></a></li>
          </ul>
      </div>
    </div>
    <div class="page-container">
      <div class="header navbar">
        <div class="header-container">
          <ul class="nav-left">
            <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
          </ul>
          <ul class="nav-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                <div class="peer mR-10"><img class="w-2r bdrs-50p" src="assets/static/images/pp.jpg" alt=""></div>
                <div
                  class="peer"><span class="fsz-sm c-grey-900">عبد المالك</span></div>
        </a>
        <ul class="dropdown-menu fsz-sm">
          <li><a href="" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-power-off mR-10"></i> <span>تسجيل الخروج</span></a></li>
        </ul>
        </li>
        </ul>
      </div>
    </div>
    <main class="main-content bgc-grey-100">
      <div id="mainContent">
        <div class="row gap-20 masonry pos-r">
          <div class="masonry-sizer col-lg-1"></div>
          <div class="masonry-item w-100">
            <div class="row gap-20">
              <div class="col-md-4">
                <div class="layers bd bgc-white p-20" style="padding-bottom:0!important">
                  <div class="layer w-100 mB-10" style="text-align:center"><img id="product_pic" src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
                      alt="" style="width:100%">
                    <h5 class="lh-1">عرض الكومبو اطلب اتنين و خد التالت هديه</h5>
                  </div>
                  <div class="layer row w-100 mB-10" style="text-align:center;border-top:1px solid #a2a6a8;padding:7px 0"><a href="#" data-toggle="modal" data-target="#editOffer" class="col-4"
                      style=""><i class="c-pink-500 ti-pencil-alt" style="font-size:15px"></i> <span>تعديل</span></a>
                    <div
                      class="modal fade" id="editOffer" tabindex="-1" role="dialog"
                      aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">تعديل العرض</h5><button type="button" class="close" data-dismiss="modal"
                              aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                          <div
                            class="modal-body">
                            <div class="form-group">
                              <form class="" action="" method="post" style="text-align:right"><label for="product_name">اسم العرض</label><input type="email"
                                  id="product_name" class="form-control" aria-describedby="emailHelp"
                                  value="منتج تجريبي" placeholder="قم بادخال الأسم الجديد">
                                <label
                                  for="product_price">السعر بعد الخصم</label><input type="email" id="product_price"
                                    class="form-control" aria-describedby="emailHelp"
                                    value="80 " placeholder="قم بداخال السعر الجديد">
                                  <label
                                    for="product_price">بدلا من</label><input type="email" id="product_price"
                                      class="form-control" aria-describedby="emailHelp"
                                      value="150 " placeholder="قم بداخال السعر الجديد">
                                    <label
                                      for="product_desc">الوصف</label><input type="email" id="product_desc"
                                        class="form-control" aria-describedby="emailHelp"
                                        value="وصف تجريبي للعرض" placeholder="قم بادخال وصف تجريبي للمنتج">
                                      <label
                                        for="product_status" class="">الحالة</label><br><label class="switch" style="margin-bottom:25px"><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label>
                                        <label
                                          for="product_pic">تعديل الصورة</label><img id="product_pic"
                                            src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
                                            alt=""><br><input type="file" class="form-control-file"
                                            id="exampleFormControlFile1"></form>
                            </div>
                        </div>
                        <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">إلغاء</button>                          <button type="button" class="btn btn-info">تأكيد</button></div>
                      </div>
                  </div>
                </div>
                <div class="col-3" style="border-right:1px solid #a2a6a8;border-left:1px solid #a2a6a8"><label class="switch" style=""><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label></div>
                <a
                  href="#" data-toggle="modal" data-target="#delCat" class="col-4"><i class="c-pink-500 ti-trash" style="font-size:15px"></i> <span>حذف</span></a>
                  <div
                    class="modal fade" id="delCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">حذف العرض</h5><button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                        <div
                          class="modal-body">
                          <h5>هل انت متأكد من حذف هذا العرض</h5>
                      </div>
                      <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>                        <button type="button" class="btn btn-danger">نعم, احذف</button></div>
                    </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="layers bd bgc-white p-20" style="padding-bottom:0!important">
          <div class="layer w-100 mB-10" style="text-align:center"><img id="product_pic" src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
              alt="" style="width:100%">
            <h5 class="lh-1">عرض الكومبو اطلب اتنين و خد التالت هديه</h5>
          </div>
          <div class="layer row w-100 mB-10" style="text-align:center;border-top:1px solid #a2a6a8;padding:7px 0"><a href="#" data-toggle="modal" data-target="#editOffer" class="col-4"
              style=""><i class="c-pink-500 ti-pencil-alt" style="font-size:15px"></i> <span>تعديل</span></a>
            <div
              class="modal fade" id="editOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">تعديل العرض</h5><button type="button" class="close" data-dismiss="modal"
                      aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                  <div
                    class="modal-body">
                    <div class="form-group">
                      <form class="" action="" method="post" style="text-align:right"><label for="product_name">اسم العرض</label><input type="email"
                          id="product_name" class="form-control" aria-describedby="emailHelp"
                          value="منتج تجريبي" placeholder="قم بادخال الأسم الجديد">
                        <label
                          for="product_price">السعر بعد الخصم</label><input type="email" id="product_price"
                            class="form-control" aria-describedby="emailHelp" value="80 "
                            placeholder="قم بداخال السعر الجديد"><label for="product_price">بدلا من</label>
                          <input
                            type="email" id="product_price" class="form-control" aria-describedby="emailHelp"
                            value="150 " placeholder="قم بداخال السعر الجديد"><label for="product_desc">الوصف</label><input type="email"
                              id="product_desc" class="form-control" aria-describedby="emailHelp"
                              value="وصف تجريبي للعرض" placeholder="قم بادخال وصف تجريبي للمنتج">
                            <label
                              for="product_status" class="">الحالة</label><br><label class="switch" style="margin-bottom:25px"><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label>
                              <label
                                for="product_pic">تعديل الصورة</label><img id="product_pic" src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
                                  alt=""><br><input type="file" class="form-control-file"
                                  id="exampleFormControlFile1"></form>
                    </div>
                </div>
                <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">إلغاء</button>                  <button type="button" class="btn btn-info">تأكيد</button></div>
              </div>
          </div>
        </div>
        <div class="col-3" style="border-right:1px solid #a2a6a8;border-left:1px solid #a2a6a8"><label class="switch" style=""><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label></div>
        <a
          href="#" data-toggle="modal" data-target="#delCat" class="col-4"><i class="c-pink-500 ti-trash" style="font-size:15px"></i> <span>حذف</span></a>
          <div
            class="modal fade" id="delCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">حذف العرض</h5><button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                <div
                  class="modal-body">
                  <h5>هل انت متأكد من حذف هذا العرض</h5>
              </div>
              <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>                <button type="button" class="btn btn-danger">نعم, احذف</button></div>
            </div>
      </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="layers bd bgc-white p-20" style="padding-bottom:0!important">
      <div class="layer w-100 mB-10" style="text-align:center"><img id="product_pic" src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
          alt="" style="width:100%">
        <h5 class="lh-1">عرض الكومبو اطلب اتنين و خد التالت هديه</h5>
      </div>
      <div class="layer row w-100 mB-10" style="text-align:center;border-top:1px solid #a2a6a8;padding:7px 0"><a href="#" data-toggle="modal" data-target="#editOffer" class="col-4" style=""><i class="c-pink-500 ti-pencil-alt" style="font-size:15px"></i> <span>تعديل</span></a>
        <div
          class="modal fade" id="editOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تعديل العرض</h5><button type="button" class="close" data-dismiss="modal"
                  aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
              <div
                class="modal-body">
                <div class="form-group">
                  <form class="" action="" method="post" style="text-align:right"><label for="product_name">اسم العرض</label><input type="email"
                      id="product_name" class="form-control" aria-describedby="emailHelp"
                      value="منتج تجريبي" placeholder="قم بادخال الأسم الجديد">
                    <label
                      for="product_price">السعر بعد الخصم</label><input type="email" id="product_price"
                        class="form-control" aria-describedby="emailHelp" value="80 "
                        placeholder="قم بداخال السعر الجديد"><label for="product_price">بدلا من</label>
                      <input
                        type="email" id="product_price" class="form-control" aria-describedby="emailHelp"
                        value="150 " placeholder="قم بداخال السعر الجديد"><label for="product_desc">الوصف</label><input type="email"
                          id="product_desc" class="form-control" aria-describedby="emailHelp"
                          value="وصف تجريبي للعرض" placeholder="قم بادخال وصف تجريبي للمنتج">
                        <label
                          for="product_status" class="">الحالة</label><br><label class="switch" style="margin-bottom:25px"><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label>
                          <label
                            for="product_pic">تعديل الصورة</label><img id="product_pic" src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
                              alt=""><br><input type="file" class="form-control-file"
                              id="exampleFormControlFile1"></form>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">إلغاء</button>              <button type="button" class="btn btn-info">تأكيد</button></div>
          </div>
      </div>
    </div>
    <div class="col-3" style="border-right:1px solid #a2a6a8;border-left:1px solid #a2a6a8"><label class="switch" style=""><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label></div>
    <a
      href="#" data-toggle="modal" data-target="#delCat" class="col-4"><i class="c-pink-500 ti-trash" style="font-size:15px"></i> <span>حذف</span></a>
      <div
        class="modal fade" id="delCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">حذف العرض</h5><button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div
              class="modal-body">
              <h5>هل انت متأكد من حذف هذا العرض</h5>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>            <button type="button" class="btn btn-danger">نعم, احذف</button></div>
        </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col-md-4">
    <div class="layers bd bgc-white p-20" style="padding-bottom:0!important">
      <div class="layer w-100 mB-10" style="text-align:center"><img id="product_pic" src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
          alt="" style="width:100%">
        <h5 class="lh-1">عرض الكومبو اطلب اتنين و خد التالت هديه</h5>
      </div>
      <div class="layer row w-100 mB-10" style="text-align:center;border-top:1px solid #a2a6a8;padding:7px 0"><a href="#" data-toggle="modal" data-target="#editOffer" class="col-4" style=""><i class="c-pink-500 ti-pencil-alt" style="font-size:15px"></i> <span>تعديل</span></a>
        <div
          class="modal fade" id="editOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">تعديل العرض</h5><button type="button" class="close" data-dismiss="modal"
                  aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
              <div
                class="modal-body">
                <div class="form-group">
                  <form class="" action="" method="post" style="text-align:right"><label for="product_name">اسم العرض</label><input type="email"
                      id="product_name" class="form-control" aria-describedby="emailHelp"
                      value="منتج تجريبي" placeholder="قم بادخال الأسم الجديد">
                    <label
                      for="product_price">السعر بعد الخصم</label><input type="email" id="product_price"
                        class="form-control" aria-describedby="emailHelp" value="80 "
                        placeholder="قم بداخال السعر الجديد"><label for="product_price">بدلا من</label>
                      <input
                        type="email" id="product_price" class="form-control" aria-describedby="emailHelp"
                        value="150 " placeholder="قم بداخال السعر الجديد"><label for="product_desc">الوصف</label><input type="email"
                          id="product_desc" class="form-control" aria-describedby="emailHelp"
                          value="وصف تجريبي للعرض" placeholder="قم بادخال وصف تجريبي للمنتج">
                        <label
                          for="product_status" class="">الحالة</label><br><label class="switch" style="margin-bottom:25px"><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label>
                          <label
                            for="product_pic">تعديل الصورة</label><img id="product_pic" src="https://img.talabat.com/MenuItems/Spicy-McChicken-Meal__636463433087547488.jpg"
                              alt=""><br><input type="file" class="form-control-file"
                              id="exampleFormControlFile1"></form>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">إلغاء</button>              <button type="button" class="btn btn-info">تأكيد</button></div>
          </div>
      </div>
    </div>
    <div class="col-3" style="border-right:1px solid #a2a6a8;border-left:1px solid #a2a6a8"><label class="switch" style=""><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label></div>
    <a
      href="#" data-toggle="modal" data-target="#delCat" class="col-4"><i class="c-pink-500 ti-trash" style="font-size:15px"></i> <span>حذف</span></a>
      <div
        class="modal fade" id="delCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">حذف العرض</h5><button type="button" class="close" data-dismiss="modal"
                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
            <div
              class="modal-body">
              <h5>هل انت متأكد من حذف هذا العرض</h5>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>            <button type="button" class="btn btn-danger">نعم, احذف</button></div>
        </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <a href="#" class="col-md-4" data-toggle="modal" data-target="#addOffer">
    <div class="layers bd bgc-white p-20" style="padding:147px!important">
      <div class="layer w-100 mB-10" style="text-align:center"><i class="c-pink-500 ti-plus" style="font-size:40px"></i>
        <h5 class="lh-1">اضافه عرض</h5>
      </div>
    </div>
  </a>
  <div class="modal fade" id="addOffer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">تعديل العرض</h5><button type="button" class="close" data-dismiss="modal"
            aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
        <div
          class="modal-body">
          <div class="form-group">
            <form class="" action="" method="post" style="text-align:right"><label for="product_name">اسم العرض</label><input type="email" id="product_name"
                class="form-control" aria-describedby="emailHelp" value="منتج تجريبي"
                placeholder="قم بادخال الأسم الجديد"><label for="product_price">السعر بعد الخصم</label>
              <input
                type="email" id="product_price" class="form-control" aria-describedby="emailHelp"
                value="80 " placeholder="قم بداخال السعر الجديد"><label for="product_price">بدلا من</label><input type="email" id="product_price"
                  class="form-control" aria-describedby="emailHelp" value="150 " placeholder="قم بداخال السعر الجديد">
                <label
                  for="product_desc">الوصف</label><input type="email" id="product_desc" class="form-control"
                    aria-describedby="emailHelp" value="وصف تجريبي للعرض" placeholder="قم بادخال وصف تجريبي للمنتج">
                  <label
                    for="product_status" class="">الحالة</label><br><label class="switch" style="margin-bottom:25px"><input id="product_status" type="checkbox" checked="checked"> <span class="slider round"></span></label>
                    <label
                      for="product_pic">الصورة</label><br><input type="file" class="form-control-file"
                        id="exampleFormControlFile1"></form>
          </div>
      </div>
      <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">إلغاء</button>        <button type="button" class="btn btn-info">تأكيد</button></div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </main>
  <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © Tazawaq 2018 engineered by <a href="#" target="_blank" title="Colorlib">Garash Software House</a>. All rights reserved.</span></footer>
  </div>
  </div>
  <script type="text/javascript" src="../assets/js/soVendor.js"></script>
  <script type="text/javascript" src="../assets/js/soBundle.js"></script>
</body>
<script>
function togglePw() {
  for (
    var e = document.getElementsByClassName('marketpw'), t = 0;
    t < e.length;
    t++
  )
    'password' === e[t].type ? (e[t].type = 'text') : (e[t].type = 'password');
}
</script>

</html>
