<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>لوحة تحكم المدير</title>
  <style>
    input {
      text-align: right
    }

    #loader {
      transition: all .3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1s infinite ease-in-out;
      animation: sk-scaleout 1s infinite ease-in-out
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        opacity: 0
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0)
      }
      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }
    }

    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px
    }

    .switch input {
      display: none
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #ccc;
      -webkit-transition: .4s;
      transition: .4s
    }

    .slider:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: #fff;
      -webkit-transition: .4s;
      transition: .4s
    }

    input:checked+.slider {
      background-color: #2196f3
    }

    input:focus+.slider {
      box-shadow: 0 0 1px #2196f3
    }

    input:checked+.slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px)
    }

    .slider.round {
      border-radius: 34px
    }

    .slider.round:before {
      border-radius: 50%
    }

  </style>
  <link href="../assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/css/themify-icons.css">
</head>

<body class="app">
  <div id="loader">
    <div class="spinner"></div>
  </div>
  <script type="text/javascript">
  window.addEventListener('load', () => {
  const loader = document.getElementById('loader');
  setTimeout(() => {
    loader.classList.add('fadeOut');
  }, 300);
});
</script>
  <div>
    <%- include('sidebar', { store_id }); %>
    <div class="page-container">
      <div class="header navbar">
        <div class="header-container">
          <ul class="nav-left">
            <li><a id="sidebar-toggle" class="sidebar-toggle" href="javascript:void(0);"><i class="ti-menu"></i></a></li>
          </ul>
          <ul class="nav-right">
            <li class="dropdown">
              <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                <div class="peer mR-10"><img class="w-2r bdrs-50p" src="../assets/static/images/pp.jpg" alt=""></div>
                <div
                  class="peer"><span class="fsz-sm c-grey-900">عبد المالك</span></div>
        </a>
        </li>
        </ul>
      </div>
    </div>
    <main class="main-content bgc-grey-100">
      <div id="mainContent">
        <div class="">
          <div class="masonry-sizer col-lg-1"></div>


          <div class="gap-20">
            <% cats.forEach(function(cat) { %>
                  <div class="col-md-3 masonry-item w-100">
                    <div class="layers bd bgc-white p-20" style="padding-bottom:0!important">
                      <div class="layer w-100 mB-10" style="text-align:center">
                          <i class="c-pink-500 ti-clipboard" style="font-size:40px"></i>
                        <h5
                          class="lh-1"><%= cat.name %>
                        </h5>

                        <p
                          class="lh-1">
                          <% if (cat.status) { %>
                              نشط
                          <% } else { %>
                              غير نشط
                          <% } %>
                        </p>
                      </div>
                      <div class="layer row w-100 mB-10" style="text-align:center;border-top:1px solid #a2a6a8;padding:7px 0">
                        <a href="#" data-toggle="modal" data-target="#editCat_<%= cat.id %>" class="col-6"
                          style="border-right:1px solid #a2a6a8"><i class="c-pink-500 ti-pencil-alt" style="font-size:15px"></i> <span>تعديل</span></a>
                        <div
                          class="modal fade" id="editCat_<%= cat.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                          aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">تعديل قسم</h5><button type="button" class="close" data-dismiss="modal"
                                  aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                              <div
                                class="modal-body">
                                <div class="form-row form-group" style="text-align:right">
                                    <input type="text" class="form-control newName"  value="<%= cat.name %>" class="form-control"
                                    placeholder="اسم القسم الجديد">

                                    <label for="cat_status" class="">الحالة</label><br>
                                    <select
                                      class="form-control" name="status">
                                        <option value="1">نشط</option>
                                        <option value="0">غير نشط</option>
                                      </select>
                                </div>
                            </div>
                            <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>                          <button id="<%= cat.id%>" type="button" class="btn btn-primary saveNewCatName">حفظ</button></div>
                          </div>
                      </div>
                    </div><a href="#" data-toggle="modal" data-target="#delCat_<%=cat.id %>" class="col-6"><i class="c-pink-500 ti-trash" style="font-size:15px"></i> <span>حذف</span></a>
                    <div
                      class="modal fade" id="delCat_<%=cat.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">حذف قسم</h5><button type="button" class="close" data-dismiss="modal"
                              aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                          <div
                            class="modal-body">
                            <h5>هل انت متأكد من حذف هذا القسم!؟ سيتم ازاله جميع المنتجات الموجودة به!</h5>
                        </div>
                        <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                          <a href="/delete-cat?id=<%= cat.id%>" type="button" class="btn btn-danger">نعم, احذف</a></div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <% }) %>





                <a href="#" class="col-md-3 masonry-item w-100" data-toggle="modal" data-target="#addCat">
                  <div class="layers bd bgc-white p-20" style="padding:33px!important">
                    <div class="layer w-100 mB-10" style="text-align:center"><i class="c-pink-500 ti-plus" style="font-size:40px"></i>
                      <h5 class="lh-1">اضافه قسم</h5>
                    </div>
                  </div>
                </a>
                <div class="modal fade" id="addCat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">اضافه قسم</h5><button type="button" class="close" data-dismiss="modal"
                          aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                      <div
                        class="modal-body">
                        <div class="form-row form-group" style="text-align:right">
                          <input type="text"  id="addNewCat" value="" class="form-control" placeholder="اسم القسم"></div>
                    </div>
                    <div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">اغلاق</button>
                      <button type="button" class="btn btn-primary addNewCat">حفظ</button></div>
                  </div>
                </div>
          </div>


  </div>
  </div>
  </div>

  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="masonry-item col-lg-10" style="margin-left: 260px">
    <div class="bd bgc-white">
      <div class="layers">
        <div class="layer w-100 p-20" style="text-align:center">
          <h6 class="lh-1">جميع المنتجات</h6>
        </div>
        <div class="layer w-100">
          <div class="table-responsive p-20">
            <table id="marketsTable" class="table table-striped table-bordered" cellspacing="0"
              width="100%" style="text-align:center">
              <thead>
                <tr>
                  <th>اسم المنتج</th>
                  <th>اسم القسم</th>
                  <th>السعر</th>
                  <th>الوصف</th>
                  <th>الحالة</th>
                  <th>تعديل المنتج</th>
                  <th>حذف المنتج</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>اسم المنتج</th>
                  <th>اسم القسم</th>
                  <th>السعر</th>
                  <th>الوصف</th>
                  <th>الحالة</th>
                  <th>تعديل المنتج</th>
                  <th>حذف المنتج</th>
                </tr>
              </tfoot>
              <tbody>
                <% products.forEach(function(product) { %>
                  <tr>
                    <td><%= product.name %></td>
                    <td><%= product.category_name %></td>
                    <td><%= product.cost %> SR</td>
                    <td><%= product.info %></td>
                    <td><%= product.status %></td>
                    <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal_<%= product.id %>"><i class="c-white-500 ti-pencil-alt"></i> تعديل</button>
                      <div
                        class="modal fade" id="editModal_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">تعديل منتج</h5><button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                            <div
                              class="modal-body">
                              <div class="form-group">
                                <form encType="multipart/form-data" method="post" action="/edit-product" data-parsley-validate style="text-align:right"><label for="product_name">اسم المنتج</label><input name="name" type="text" id="product_name"
                                    class="form-control" aria-describedby="emailHelp" value="<%= product.name %>"
                                    placeholder="قم بادخال الأسم الجديد"><label for="">اختار القسم</label>
                                  <select
                                    class="form-control" name="category_id" >
                                    <% cats.forEach(function(cat) { %>
                                      <option value="<%= cat.id %>"><%= cat.name %></option>
                                    <% }) %>
                                  </select><label for="product_price">السعر</label><input type="number" name="price" id="product_price"
                                      class="form-control" aria-describedby="emailHelp" value="<%= product.cost %>"
                                      placeholder="قم بداخال السعر الجديد"><label for="product_desc">الوصف</label>
                                    <input
                                      name="info" type="text" id="product_desc" style="height: 100px" class="form-control" aria-describedby="emailHelp"
                                      value="وصف تجريبي للمنتج" placeholder="قم بادخال وصف تجريبي للمنتج">
                                      <label for="product_status" class="">الحالة</label><br>
                                      <select
                                        class="form-control" name="status">
                                          <option value="1">نشط</option>
                                          <option value="0">غير نشط</option>
                                        </select>
                                        <label
                                          for="product_pic">تعديل الصورة</label><img style="width: 100%; height: 100%" id="product_pic" src="<%= product.img %>"
                                            alt=""><br><input type="file" name="image" old-img="<%= product.img %>" class="form-control-file"
                                            id="exampleFormControlFile1">
                                            <input type="hidden" value="<%= product.id %>" name="product_id">
                              </div>
                          </div>
                          <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">إلغاء</button>
                            <button type="submit" class="btn btn-info">تأكيد</button></div></form>
                        </div>
                        </div>
                        </div>
                    </td>
                    <td><button id="<%= product.id %>" type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_<%= product.id %>"><i class="c-white-500 ti-trash"></i> حذف</button>
                      <div
                        class="modal fade" id="delete_<%= product.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">حذف منتج</h5><button type="button" class="close" data-dismiss="modal"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                            <div
                              class="modal-body">
                              <h5>هل انت متاكد من حذف هذا المنتج</h5>
                          </div>
                          <div class="modal-footer"><button type="button" class="btn btn-outline-secondary" data-dismiss="modal">إلغاء</button>            <a href="/delete-product?id=<%= product.id%>" type="button" class="btn btn-danger">تأكيد</a></div>
                        </div>
                        </div>
                        </div>
                    </td>
                  </tr>

                <% }) %>
  </tbody>
  </table>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div><br><br>
  <div class="col-md-10" style="margin-left: 260px">
    <div class="layers bd bgc-white p-20">
      <div class="layer w-100 mB-10" style="text-align:center">
        <form encType="multipart/form-data" method="post" action="/add-product" data-parsley-validate style="text-align:right">
          <h5 class="c-grey-900 mB-20">: إضافة منتج</h5>
          <div class="form-row">
            <div class="form-group col-md-6"><label for="inputPassword4">صورة المنتج</label>
              <input name="image" type="file" class="form-control"
                placeholder="قم بإدخال اسم الماركت">
              </div>
            <div class="form-group col-md-6"><label for="inputPassword4">اسم المنتج</label>
              <input name="name" type="text" class="form-control"
                placeholder="قم بإدخال اسم المنتج">
              </div>
          </div>
          <div class="form-group"><label for="inputAddress">وصف المنتج</label>
            <input name="info" type="area" class="form-control"
              id="inputAddress" placeholder="وصف قصير للمنتج" style="height:80px">
            </div>
          <div
            class="form-row">
            <div class="form-group col-md-6"><label for="inputZip">الحاله</label>
              <select name="status" class="form-control" >
                <option value="1">نشط</option>
                <option value="0">غير نشط</option>
              </select></div>
            <div
              class="form-group col-md-6"><label for="inputZip">اختار القسم</label>
              <select name="category_id" class="form-control" >
                <% cats.forEach(function(cat) { %>
                  <option value="<%= cat.id %>"><%= cat.name %></option>
                <% }) %>
              </select>
            </div>
      <div
        class="form-group col-md-12"><label for="inputPassword4">سعر المنتج</label>
        <input name="price" type="number" class="form-control"
          placeholder="قم بإدخال سعر المنتج ">
        </div>
  </div><button type="submit" class="btn btn-primary">اضافه</button></form>
  </div>
  </div>
  </div>
  </div>
  </main>
  <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600"><span>Copyright © Tazawaq 2018 engineered by <a href="#" target="_blank" title="Colorlib">Garash Software House</a>. All rights reserved.</span></footer>
  </div>
  </div>
  <script type="text/javascript" src="../assets/js/soVendor.js"></script>
  <script type="text/javascript" src="../assets/js/soBundle.js"></script>
  <script type="text/javascript" src="../assets/js/jquery-3.3.1.min.js"></script>

  <script>
$('.saveNewCatName').click(function() {
var id = $(this).attr('id')
var nameValue = $(this)
.parents('.modal-content')
.find('input')
.val();

var statusValue = $(this)
.parents('.modal-content')
.find('select')
.val();

fetch(`/edit-cat?name=${nameValue}&id=${id}&status=${statusValue}`).then(function(res) {
  window.location = '/store_products/<%= store_id %>';
});
});

$('.addNewCat').click(function() {
  var name = $('#addNewCat').val();
  fetch(`/add-cat?name=${name}`).then(function(res) {
    window.location = '/store_products/<%= store_id %>';
  });
});


</script>

</body>
<script>
function togglePw() {
  for (
    var e = document.getElementsByClassName('marketpw'), t = 0;
    t < e.length;
    t++
  )
    'password' === e[t].type ? (e[t].type = 'text') : (e[t].type = 'password');
}
</script>

</html>
